@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    cursor:url(./icon/cursor.svg), auto;
    font-family: "Caveat", cursive;
    min-height: 100vh;
    
}
a,button,span {
    cursor:url(./icon/pointer.svg), auto;
}
header {
    width: 100%;
    padding:20px 100px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content:space-between;    
    align-items: center;
    margin: 0 auto;    
    font-size: clamp(2rem,2vw,3rem);
}
.header__search {
    display: flex;
    align-items: center;
    gap:10px;
}
.search_style {
    max-width: 500px;  
    height:45px;
    border-radius: 20px;
    border:1px solid black;
    padding:10px;
    font-size: 1em;
    font-family: "Caveat", cursive;    
}
.search__container {
    position: relative;
}
.search_close {
    position: absolute;
    top:0px;
    right:10px; 
}
.noactive {
    display:none;
}
main { 
    display: flex;   
    justify-content: center; 
    width: 100%;      
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(198,213,213,1) 12%, rgba(123,185,215,1) 50%, rgba(46,84,122,1) 97%);
    padding: 100px 0;
    height:100%;
    flex-grow: 1;
}
.main__container {
    width: 80%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    
}
.container_p {
    font-size: 30px;
}
.img-style {
    object-fit:cover;
    width:100%;    
    height:300px;
    box-shadow: none; 
    transition: box-shadow .3s linear;   
}
.img-style:hover {
    -webkit-box-shadow: -1px 1px 15px 5px #0D65FF; 
    box-shadow: -1px 1px 15px 5px #0D65FF;
}
footer {
    
    background-color: black;
    display:flex; 
    justify-content: space-between;
    color:white;
    padding: 20px 100px;   
    font-size:25px;    
}
.footer__autor {
    display:flex;
    align-items: center;
    justify-content: center;
}
footer img {
    width:70px;    
}

@media screen and (max-width:955px) { 
    header {
        padding:20px 70px;
    }
    .main__container{
        grid-template-columns: repeat(2,1fr);
    }

}

@media screen and (max-width:570px) {
    header {
        flex-direction: column;
        justify-content: center;
    }
    .main__container{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width:570px) {
    header {
        flex-direction: column;
        justify-content: center;
    }
    .main__container{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width:470px) {
    header {
        font-size: clamp(1.1rem,3vw,2rem); 
        padding:20px 50px;     
    }
   
    .search_style {
        max-width: 200px; 
        font-size: 30px;
    }
    .search_close {
        position: absolute;
        top:10px;
        right:10px; 
        
    }
    footer {
        padding: 20px 10px; 
    }
}